.accounts{
    padding: 20px 20px;
    background-color: #151929;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.finstats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    background-color: white;
    width: 20%;
    border-radius: 15px;
    height: 80px;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icon{
    color: #314ca3;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: larger;
}
.num1{
    font-size: 25px;
    color: #314ca3;
}

.acchart{
    background-color: white;
    
    height: auto;
    width: 350px;
    border-radius: 10px;
}
.pfd{
    padding: 20px;
}
.pfd h2{
    color: white;
}
.fe{
    background-color: 
    #252f45
    ;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;

}
.span{
    color: black;
}
.spana{
    color: red;
}